@use "../styles/theme.scss";

:local(.content) {
  padding: 46px 41px 26px 44px;

  button {
    width: 100%;
  }

  @media(min-width: theme.$breakpoint-lg) and (min-height: theme.$breakpoint-vr) {
    padding: 46px 41px 26px 44px;
  }
}

:local(.logo-container) {
  margin-bottom: 32px;
}

:local(.room-name) {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 11px;

  h5 {
    font-size: 18px;
    color: theme.$grey;
    margin-bottom: 9px;
  }

  p {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 22px;
    color: #fff;

    @media(min-width: theme.$breakpoint-lg) and (min-height: theme.$breakpoint-vr) {
      font-size: 20px;
    }
  }
}

:local(.userName) {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 18px;

  label {
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    color: #fff;
    margin-bottom: 7px;
  }

  input {
    font-size: 15px;
    width: 100%;
    height: 44px;
    padding: 12px;
    margin: 0;
    border-radius: 15px;
    border: 2px solid #000;
    color: #B8B8B8;
    text-align: center;
  }

  small {
    position: absolute;
    bottom: 10px;
    color: rgb(121, 20, 20);
    font-size: 10px;
    transition: all .3s ease;
  }
}

:local(.buttons) {
  button {
    margin: 0;

    @media(min-width: theme.$breakpoint-lg) and (min-height: theme.$breakpoint-vr) {
      margin: 0;
    }
  }
}

:local(.recaptcha) {
  margin-bottom: 20px;
}