@use "../styles/theme.scss";

:local(.footer) {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2px);

  position: relative;
}

:local(.footer-decoration) {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

  pointer-events: none;

  :local(.decoration) {
    position: absolute;
    bottom: 0;
    left: 0;

    transform: translate(-40%, 40%) rotate(-37.08deg);
  }
}

:local(.container) {
  padding: 70px 10px 40px;
  max-width: 1310px;
  margin: 0 auto;

  @media (max-width: theme.$breakpoint-md) {
    padding: 40px 20px;
  }
}

:local(.top-content) {
  display: flex;
  flex-wrap: wrap;
  gap: 0 60px;
  justify-content: space-between;

  + :local(.bottom-content) {
    margin-top: 40px;
  }

  @media (max-width: theme.$breakpoint-md) {
    align-items: center;
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }
}

:local(.column) {
  flex: 1;
}

:local(.footer-nav) {
  display: flex;
  justify-content: flex-end;
  flex: 2;
  gap: 0 20px;

  @media (max-width: theme.$breakpoint-md) {
    justify-content: flex-start;
  }
}

:local(.footer-logo) {
  max-width: 180px;

  img {
    width: 100%;
  }

  @media (max-width: theme.$breakpoint-md) {
    margin: 0 auto;
  }
}

:local(.footer-address) {
  &:not(:first-child) {
    margin-top: 20px;
  }

  p {
    color: #767B82;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 2.4;
  }
}

:local(.footer-nav-header) {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.1;
  margin-bottom: 16px;
}

:local(.footer-nav-link) {
  color: #767B82;
  font-size: 16px;
  font-weight: 400;
  line-height: 2.4;
  letter-spacing: -0.02em;
}

:local(.mail) {
  margin-top: 45px;
}

:local(.footer-social) {
  display: flex;
  justify-content: center;
  gap: 30px;
}

:local(.footer-social-link) {
  $size: 56px;

  align-items: center;
  background-color: #253241;
  border-radius: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  height: $size;
  width: $size;

  transition: color 0.2s linear;

  svg {
    $svg-size: 24px;

    height: $svg-size;
    width: $svg-size;

    path {
      transition: fill 0.2s linear; 
      fill: #fff;
    }
  }

  &:hover {
    color: var(--link-color);

    svg {
      path {
        fill: var(--link-color);
      }
    }
  }
}

:local(.bottom-content) {
  text-align: center;
}

:local(.copyright-text) {
  color: #767B82;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.02em;
}
