@use "../styles/theme.scss";

$blue-color: #0D75FE;

:local(.header) {
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;

  padding: 25px 0;

  @media (max-width: theme.$breakpoint-md) {
    padding: 10px 0;
  }
}

:local(.container) {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 6px;
  margin: 0 auto;
  max-width: 1210px;

  padding: 0 20px;
}

:local(.logo-image-wrapper) {
  @media (max-width: theme.$breakpoint-md) {
    max-width: 150px;
  }
}

:local(.sign-in) {
  align-items: center;
  display: flex;
  gap: 6px;

  @media (max-width: theme.$breakpoint-md) {
    gap: 5px;
    text-align: center;
  }
}

:local(.email-text) {
  color: #fff;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.6;

  @media (max-width: theme.$breakpoint-md) {
    font-size: 10px;
  }
}

:local(.btn) {
  background-color: transparent;
  display: block;

  border: 2px solid transparent;
  border-radius: 15px;

  padding: 12px;

  color: #fff;
  text-align: center;
  text-transform: capitalize;
}

:local(.sign-in-btn) {
  background-color: $blue-color;
  border-color: $blue-color;

  font-weight: 600;
  font-size: 16px;
  line-height: 26px;

  transition: all 0.2s ease-out;

  &:hover {
    background-color: darken($blue-color, 15%);
    border-color: darken($blue-color, 15%);
    color: #fff;
  }

  @media (max-width: theme.$breakpoint-md) {
    font-size: 12px;
    padding: 5px;
  }
}

:local(.sign-out-btn) {
  border-color: #fff;

  font-weight: 600;
  font-size: 15px;
  line-height: 22px;

  transition: all 0.2s ease-out;

  &:hover {
    background-color: #fff;
    color: #000;
  }

  @media (max-width: theme.$breakpoint-md) {
    font-size: 12px;
    padding: 5px;
  }
}
