@use "../styles/theme.scss";

:local(.container) {
    padding: 0 30px 0 38px;
}

:local(.lineWrapper) {
    display: flex;
    justify-content: center;
    align-items: center;
}

:local(.line) {
    width: 134px;
    height: 5px;
    background: #DDDDDD;
    border-radius: 100px;
    margin: 20px 0 24px;
}

:local(.spinnerWrapper) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 991px) {
    :local(.container) {
        width: 100%;
        max-width: 500px;
        padding: 0 25px;
    }
}