@use "../styles/theme.scss";

:local(section.own-space-in-metaverse) {
  margin: 125px 0 25px;
  position: relative;
  z-index: 2;

  @media (max-width: theme.$breakpoint-md) {
    margin: 114px 0 125px;
  }
}

:local(.container) {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 20px;
}

:local(.own-space-in-metaverse-heading) {
  color: #fff;
  font-family: theme.$font-family-jakarta;
  font-weight: 600;
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: -0.02em;

  text-align: center;

  margin-bottom: 57px;

  @media (max-width: theme.$breakpoint-md) {
    font-size: 36px;
    margin-bottom: 20px;
  }
}

:local(.metaverse-room-list) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 43px 30px;

  @media (max-width: theme.$breakpoint-md) {
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
}

:local(.metaverse-room-item) {
  border-radius: 24px;

  position: relative;
  overflow: hidden;

  transition: box-shadow 0.2s ease-out;

  &:hover {
    box-shadow: 0 5px 20px 5px #ffffff44;

    img {
      transform: scale(1.1);
    }
  }
}

:local(.metaverse-room-img-wrapper) {
  position: relative;
  min-height: 60px;

  img {
    transition: transform 0.2s ease-out;
    transform: scale(1);
  }

  &:after {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 13.31%, #171C26 100.6%);
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 50%;
  }
}

:local(.metaverse-room-name) {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.005em;

  padding: 12px 26px;
  text-transform: capitalize;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  @media (max-width: theme.$breakpoint-md) {
    font-size: 10px;
  }
}
